.icon{
	max-width: 100px;
	margin: auto;
	width:100px;
	display:block;
}

#title{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	margin-top: 10px;
	color: #777373;
	text-align: center;
}

.redtext{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color:#CC5252;
}
#author{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;	
	margin-top: 10px;
	color: #777373;
	text-align: center;
}
#reset{
	font-family: helvetica, arial, sans-serif;
	margin:auto;
	margin-top: 10px;
	display: block;
	border-radius: 40px;
	background-color: #FF7171;
	border-style: none;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	color: white;
	height:40px;
	width:150px;
}
#reset:hover{
	background-color: #CC5252;
}
.top{
	background-color: #FFE6E6;
	padding-bottom: 30px;
	width:100%;
}
#break{
	background-color: #999999;
	height: 6px;
	width:100px;
	border-radius: 30px;
	border-style: none;
}
.content{
	background-color:#FFC6C6;
	padding-bottom: 400px;
	padding-top: 5px;
}

#add{
	background-color: #FF7171;
	border: none;
	border-radius: 15px;
	color: white;
    display: block;
    font-size: 12pt;
    height: 40px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    text-align: center;
    width: 500px;
}
p{
    background-color: #FF7171;
    border-radius: 15px;
    color: white;
    display: table;
    font-size: 12pt;
    height: 40px;
    width:500px;
    text-align: center;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    clear: all;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#first{
clear: all;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	color: #777373;
	border-style: dashed;
	border-radius: 10px;
	width: 300px;
	height:30px;
	margin:auto;
	margin-top: 10px;
	background-color:#FFC6C6; 
}
#second{
	clear: all;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	color: #777373;
	border-style: dashed;
	border-radius: 10px;
	width: 300px;
	height:20px;
	margin:auto;
	margin-top: 10px;
	background-color:#FFC6C6; 
}
#list-area{
	font-family:helvetica, sans-serif;
	font-size: 14px;
}
.check{
	cursor: pointer;
	margin-top: 5px;
	float: right;
	height: 22px;
	width: 22px;
	border-style: none;
	background: url('../images/check-mark.png');
	background-repeat: no-repeat;
}
.alt-check{
border-style: none;
background: url('../images/alt-check-mark.png');
background-repeat: no-repeat;
}
.x-mark{
	cursor: pointer;
	margin-top: 5px;
	float: left;
	height: 22px;
	width: 22px;
	border-style: none;
	background: url('../images/x-mark.png');
	background-repeat: no-repeat;
}
.alt-x-mark{
	
	background-image: url('../images/alt-x-mark.png');
	background-repeat: no-repeat;
}

.strikethrough{
	background-color: #FFE6E6;
	color: #777373;
	text-decoration: line-through !important;
}